// @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,700&display=swap");

$primary-color: #084887;
$secondary-color: #f58a07;
$neutral-color-1000: #031d44;
$neutral-color-600: #111827;
$neutral-color-500: #2f2e41;
$neutral-color-400: #3f3d56;
$neutral-color-100: #f9f7f8;
$neutral-color-0: #ffffff;
$black: #000;
$yellow-light: #ffd875;

$size: 8px;
$spacing: 4px;
$grid: 1440px;
$container: 1024px;
$container-tablet: 674px;
$container-phone: 334px;

//-------- MEDIAQUERIES --------
$tablet: 768px;
$desktop: 900px;
$desktop_m: 1680px;
$desktop_xl: 1920px;

@mixin phone {
  @media (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) and (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin desktop_hd {
  @media (min-width: #{$desktop_m}) and (max-width: #{$desktop_xl}) {
    @content;
  }
}

@mixin devices {
  @media (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin form {
  form {
    div {
      &:nth-child(1) {
        grid-column: 1 / -5;
      }

      &:nth-child(2) {
        grid-column: -1 / -5;
      }

      &:nth-child(3) {
        grid-column: 1 / -1;
      }

      &:nth-child(4) {
        grid-column: 1 / -1;
        position: relative;

        @include tablet {
          grid-column: 1 / -1;
        }

        input {
          padding-left: 2.5rem;
        }

        label {
          &:first-child {
            border-radius: 10px;
            bottom: 8px;
            color: #4a81ae;
            font-size: 14px;
            font-weight: 500;
            left: 5px;
            margin: 0;
            position: ABSOLUTE;
            z-index: 100;
          }
        }
      }

      &:last-child {
        grid-column: 2 / -1;
      }
    }
  }
}

@mixin uppercase {
  text-transform: uppercase;
}
