@import "./base/base";

* {
  padding: 0;
  margin: 0;
  font-family: Poppins;
  box-sizing: border-box;
}

:root {
  --menu-item: #{$size * 2};

  --spacing-1: #{$spacing};
  --spacing-2: #{$spacing * 2};
  --spacing-3: #{$spacing * 4};
  --spacing-4: #{$spacing * 8};
  --spacing-5: #{$spacing * 10};

  --size-4: #{$size * 4};
  --size-3: #{$size * 3};
  --size-2: #{$size * 2};
  --size-1: #{$size};

  --title-h1: #{$size * 8-4};
  --title-h2: #{$size * 4+4};
  --title-h3: var(--size-3);

  --paragraph-1: var(--size-2);

  --cover-text: #{$size * 12};
}

body {
  box-sizing: border-box;
  background-color: $neutral-color-100;
  overflow-x: hidden;
}

h1 {
  font-size: var(--title-h1);
  line-height: 70px;
  @include phone {
    font-size: var(--size-4);
    line-height: 42px;
    font-weight: bold !important;
    font-weight: 700;
  }
}
h2 {
  font-size: var(--title-h2);
  color: $neutral-color-400;

  margin-top: 0;
  margin-bottom: 0;
  @include tablet {
    font-size: var(--title-h3);
  }
  @include phone {
    font-size: var(--size-3);
  }
}

h3 {
  font-size: var(--title-h3);
  color: $neutral-color-400;
  @include tablet {
    font-size: var(--size-2);
  }
  @include phone {
    font-size: 13px;
    font-weight: 500 !important;
    line-height: 23px !important;
  }
}

h5 {
  font-style: italic;
  font-weight: 400;
  font-size: var(--size-3);
  line-height: 36px;
  @include phone {
    font-size: var(--size-3);
  }
}

.dflex {
  display: flex;
}
.fd-col {
  flex-direction: column;
}
.fd-row {
  flex-direction: row;
}
.jc-sb {
  justify-content: space-between;
}

.go_back {
  align-items: center;
  color: $neutral-color-600;
  display: flex;
  font-size: 1rem;
  gap: 0.8rem;
  margin: 0.5rem auto 0;
  max-width: $container;
  position: relative;
  text-decoration: none;
  width: 90%;

  img {
    transform: rotate(-90deg);
    height: 1rem;
  }

  &:active,
  &:visited {
    color: $neutral-color-600;
  }

  @include phone {
    max-width: $container-phone;
  }

  @include tablet {
    max-width: $container-tablet;
  }
}

.error-message {
  background: #ff3636e5;
  border-radius: 0.5rem;
  color: $neutral-color-100;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  position: fixed;
  right: 2rem;
  top: 2rem;
  z-index: 9999;

  @include phone {
    padding: 0.5rem;
    right: 1rem;
    top: 1rem;
  }
}
