@import "./base/base";

*{
  padding: 0;
  margin: 0;
}

:root{
  --menu-item: #{$size*2};

  --spacing-1: #{$spacing};
  --spacing-2: #{$spacing*2};
  --spacing-3: #{$spacing*4};
  --spacing-4: #{$spacing*8};
  --spacing-5: #{$spacing*10};

  --size-4: #{$size*4};
  --size-3: #{$size*3};
  --size-2: #{$size*2};
  --size-1: #{$size};

  --title-h1: #{$size*8-4};
  --title-h2: #{$size*4+4};
  --title-h3: var(--size-3);

  --paragraph-1: var(--size-2);

  --cover-text: #{$size*12};
}

body{
  box-sizing: border-box;
  font-family: Poppins;
  background-color: #F9F7F8;
}

h1{
  font-size: var(--title-h1);
  line-height: 70px;
  @include phone {
    font-size: var( --size-4);
    line-height: 42px;   
    font-weight: bold!important;
    font-weight: 700;  
  }
}
h2{
  font-size: var(--title-h2);
  color: $neutral-color-400;
  @include tablet {
    font-size: var(--title-h3);     
  }
  @include phone{
    font-size: var(--size-3); 
  }
}
h3{
  font-size: var(--title-h3);
  color: $neutral-color-400;
  @include tablet {
    font-size: var(--size-2);     
  }
  @include phone{
    font-size: 13px;
    font-weight: 500!important;
    line-height: 23px!important;
  }
}

h5{
  font-style: italic;
  font-weight: 400;
  font-size: var(--size-3);
  line-height: 36px;
  @include phone {
    font-size: var(--size-3);
  }
}
span{
  @include phone {
    font-size: var( --size-4)!important;
    line-height: 42px!important;   
    font-weight: normal!important;
  }
}

p{
  font-size: var(--paragraph-1);
  @include phone{
    font-size: 10px;
    font-weight: 400!important;
    line-height: 26px!important;
  }
}

b{
  color: $primary-color;
  font-style: italic;
  font-weight: 700;
  @include phone{
    font-size: 10px;
    font-weight: 600!important;
    line-height: 26px!important;
  }
}

.dflex{
  display: flex;
}
.fd-col{
  flex-direction: column ;
}
.fd-row{
  flex-direction: row;
}
.jc-sb{
  justify-content: space-between;
}