@import "./../base/_base.scss";

.btn-cta {
  align-items: center;
  background: #084887;
  border-radius: 10px;
  border-style: none;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  font-size: 24px;
  font-weight: 500;
  justify-content: center;
  line-height: 36px;
  margin: 0 auto;
  padding: 8px 30px;

  @include phone {
    width: 100%;
    font-size: 18px;
    padding: 6px 15px;
    margin: 0 auto;
    max-width: $container-phone;
  }
  img {
    margin-left: 12px;
  }
}
