@import "./../base/_base.scss";

.CardComponent {
  background: #f2f2f2;
  border-radius: 16px;
  padding: 24px 40px;
  width: 384px;
  margin-right: 64px;

  @include tablet {
    width: 280px;
    margin-right: 16px;
    padding: 24px 24px;
    margin-bottom: 16px;
  }
  @include phone{
    width: 128px;
    margin-right: 7px;
    padding: 16px;
    margin-bottom: 1rem;
  }
  &:nth-child(2) {
    @include tablet {
      margin-right: 0;
    }
  }
  &:last-child {
    margin-right: 0;
  }
  h3 {
    color: #{$neutral-color-1000};
    font-weight: 500;
    line-height: 31px;
  }
  p {
    font-style: italic;
    font-weight: normal;
    line-height: 24px;
    color: #{$neutral-color-1000};
  }
}
