@import "./../base/_base.scss";

.footerComponent {
  background-color: $neutral-color-1000;
  position: relative;
  z-index: 1000;

  section {
    max-width: $container;
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    @include tablet {
      max-width: $container-tablet;
      width: 100%;
    }

    @include phone {
      max-width: $container-phone;
      padding: 70px 0;
      width: 100%;
      display: grid;
    }

    .logoSection {
      width: 35%;
      margin-right: 32px;
      display: flex;
      flex-direction: row;
      align-items: center;
      align-self: center;

      @include phone {
        max-width: $container-phone;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 0 20px 0;
      }

      @include tablet {
        margin: 0;
      }

      .brandOne {
        width: 126px;
        margin-right: 14px;
        @include phone {
          width: 126px;
          margin-bottom: 24px;
          margin-right: 0px;
        }
      }

      .brandTwo {
        width: 45%;
        margin-left: 14px;
        max-width: 200px;

        @include phone {
          margin: 0;
          width: 126px;
        }

        @include tablet {
          margin: 0;
          width: 70%;
        }
      }

      strong {
        color: #fff;
        font-size: 12px;
        @include phone {
          font-size: 16px;
          font-weight: 200;
        }
      }
    }

    .ctaSection {
      width: 20%;
      display: flex;
      flex-direction: column;
      color: $neutral-color-0;
      margin-right: 40px;
      gap: 5px;

      @include phone {
        width: $container-phone;
        flex-direction: column;
        margin: 0;
        width: 100%;
      }

      @include tablet {
        width: 30%;
      }

      span {
        @include phone {
          display: none;
        }
      }

      a {
        color: #fff;
        text-decoration: none;
      }
    }
    .sectionRight {
      width: 45%;

      @include phone {
        width: 100%;
      }

      @include tablet {
        position: relative;
      }

      .socials {
        width: 25%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 12px;
        gap: 2.5rem;

        @include phone {
          width: 100%;
          justify-content: center;
          gap: 2rem;
        }

        @include tablet {
          position: absolute;
          top: 50%;
          left: 55%;
          gap: 1rem;
        }
      }
    }
    .ubication {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @include tablet {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 10px;
      }

      @include phone {
        display: grid;
        gap: 1rem;
        grid-template-columns: calc(60% - 0.5rem) calc(40% - 0.5rem);
      }
      article {
        &:first-child {
          display: none;
        }

        a {
          text-decoration: none;
          color: #fff;

          &:visited,
          &:active {
            color: #fff;
          }
        }

        @include phone {
          &:first-child {
            display: block;
          }
        }

        color: $neutral-color-0;

        @include tablet {
          padding-right: 0;

          &:last-child {
            display: flex;
            flex-direction: column;
          }
        }

        @include phone {
          width: 100%;
          padding: 0;
          margin-bottom: 24px;
        }

        &:first-child {
          width: 36%;
          @include tablet {
            width: 100%;
          }
          @include phone {
            width: 100%;
            padding: 0;
            margin-bottom: 24px;
          }
        }

        strong {
          font-weight: bold;
        }
      }
    }
  }
}
