@import "./../base/_base.scss";

.navMenu {
  padding-top: var(--spacing-5);
  max-width: $container;
  width: 90%;
  margin: 0 auto;
  z-index: 100;
  position: relative;

  @include tablet {
    width: $container-tablet;
    padding-top: 20px;
  }

  @include phone {
    width: $container-phone;
    padding-top: 35px;
  }

  img {
    width: 120px;

    @include phone {
      width: 100px;
    }

    @include tablet {
      width: 80px;
    }
  }
}

.navMenuItems {
  color: $primary-color;
  @include phone {
    display: none !important;
  }
  a {
    text-decoration: none;
    margin-right: $size * 7;
    font-size: var(--size-2);
    color: $primary-color;
    cursor: pointer;
  }

  p {
    margin-right: $size * 7;
    font-size: var(--size-2);

    &:last-child {
      margin-right: 0;
    }
  }
}

img .headerBg {
  height: 300px;
}

.headerBg {
  background-repeat: no-repeat;
  position: absolute;
  z-index: 0;
  width: 100%;

  @include tablet {
    background-size: cover;
    width: 100%;
  }
}
