@import "./../base/_base.scss";
.imageCover {
  position: relative;
}

.brochureComponent {
  background-image: url("./../../assets/blob-section.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 80px 0;

  @include phone {
    margin: 30px 0 0 0;
    background-image: url("./../../assets/blob-section-mobile.svg");
    background-size: contain;
  }

  @include tablet {
    background-size: contain;
  }

  .contain {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    @include phone {
      width: 100%;
    }
  }
  .ctasection {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
    padding-top: 60px;
    @include phone {
      width: 100%;
      margin-top: 40px;
      padding-top: 60px;
      margin: 10px auto 0;
    }
  }
}

.imageCover {
  width: 70%;

  @include phone {
    width: 100%;
    position: relative;
  }

  @include tablet {
    width: 70%;
  }
}
