@import "./../base/_base.scss";

.calendarComponent {
  max-width: $container;
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  overflow-x: scroll;

  &-container {
    margin-top: 30px;

    @include tablet {
      margin: 0;
    }

    h3 {
      font-weight: 700;
      font-size: 2.125rem;
      line-height: 48px;
      text-align: center;
      color: #084887;
      margin-bottom: 24px;

      @include phone {
        font-size: $size * 4 !important;
        line-height: $size * 5 !important;
        font-weight: 700 !important;
      }
    }
  }

  gap: 1rem;

  @include phone {
    width: 92%;
  }

  @include tablet {
    max-width: $container-tablet;
    width: 100%;
  }

  .weekDays {
    display: flex;
    flex-direction: column;
    width: 250px;

    @include phone {
      width: 281px;
    }

    @include tablet {
      width: 100%;
    }

    article {
      border-radius: 10px;
      padding: 5px;
      background-color: #fff;

      .weeks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &:last-child {
          .week {
            border-bottom: 0;
          }
          .days {
            border-bottom: 0;
          }
        }
        .week {
          display: flex;
          align-items: center;
          text-align: center;
          width: 160px;
          border-right: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          padding: 24px;
          font-style: normal;
          font-weight: 500;
          font-size: 1rem;
          line-height: 36px;

          @include phone {
            text-align: center;
            padding: 0 16px;
            font-size: 1.25rem;
          }
        }

        .days {
          width: 146px;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-bottom: 1px solid #ccc;
          span {
            display: flex;
            align-items: center;
            height: 70px;
            border-bottom: 1px solid #ccc;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 36px;
            @include phone {
              font-size: $size * 3 !important;
            }
            &:last-child {
              border-bottom: 0;
            }
          }
        }
      }
    }
  }

  .classHours {
    display: flex;
    flex-direction: column;
    min-width: 750px;
    width: 75%;

    @include phone {
      min-width: 800px;
    }

    .hours {
      background-color: #fff;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 24px;
      padding: 24px 0;

      @include tablet {
        width: 800px;
      }

      .item {
        display: flex;
        flex: 1;
        border-right: 1px solid #ccc;
        justify-content: center;
        &:last-child {
          border-right: 0;
        }
      }
    }
    .courses {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;

      @include tablet {
        width: 800px;
      }

      .week-days {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        justify-content: space-evenly;
      }
      .dayOne {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 12px;

        .item-1,
        .item-2,
        .item-3,
        .item-4 {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          font-size: 12px;
          height: 4.25rem;
          padding: 10px;
          border-radius: 10px;
          margin-right: 2px;
          text-align: center;
          line-height: 20px;
          color: #031d44;
          box-sizing: border-box;

          @include phone {
            width: 416px;
          }
          &:last-child {
            margin-right: 0px;
          }
        }

        .item-1 {
          width: calc(100% / 6);
          font-weight: 300;

          @include phone {
            width: 200px;
          }
          &:last-child {
            margin-right: 0px;
          }
        }
        .item-2 {
          width: calc(100% / 3);
        }

        .item-3 {
          width: 50%;
        }

        .item-4 {
          width: calc(100% / 6 * 4);
        }
      }
    }
  }
}

.highlights {
  background-color: rgba(255, 216, 117, 0.38) !important;
}

.calendar__titles_highlights {
  color: $primary-color;
  font-style: italic;
  font-weight: 700;
  @include phone {
    font-size: 10px;
    font-weight: 600 !important;
    line-height: 26px !important;
  }
}
