@import "./../base/_base.scss";

.calendarComponent {
  max-width: $container;
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  margin-top: 30px;
  overflow-x: scroll;

  gap: 1rem;

  @include phone {
    width: 92%;
  }

  @include tablet {
    max-width: $container-tablet;
    width: 100%;
  }

  .weekDays {
    display: flex;
    flex-direction: column;
    width: 250px;

    @include phone {
      width: 281px;
    }

    @include tablet {
      width: 100%;
    }

    h3 {
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 48px;
      text-align: center;
      color: #084887;
      margin-bottom: 24px;

      @include phone {
        font-size: $size * 4 !important;
        line-height: $size * 5 !important;
        font-weight: 700 !important;
      }
    }
    article {
      border-radius: 10px;
      padding: 16px;
      background-color: #fff;

      .weeks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &:last-child {
          .week {
            border-bottom: 0;
          }
          .days {
            border-bottom: 0;
          }
        }
        .week {
          display: flex;
          align-items: center;
          text-align: center;
          width: 160px;
          border-right: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          padding: 24px;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 36px;
          @include phone {
            text-align: center;
            padding: 16px;
          }
        }

        .days {
          width: 146px;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-bottom: 1px solid #ccc;
          span {
            display: flex;
            align-items: center;
            height: 80px;
            border-bottom: 1px solid #ccc;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 36px;
            @include phone {
              font-size: $size * 3 !important;
            }
            &:last-child {
              border-bottom: 0;
            }
          }
        }
      }
    }
  }

  .classHours {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    min-width: 750px;
    padding-top: 48px;
    width: 75%;

    @include phone {
      margin-top: 20px;
      min-width: 800px;
    }

    .hours {
      background-color: #fff;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 24px;
      padding: 24px 0;

      @include tablet {
        width: 800px;
      }

      .item {
        display: flex;
        flex: 1;
        border-right: 1px solid #ccc;
        justify-content: center;
        &:last-child {
          border-right: 0;
        }
      }
    }
    .courses {
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;

      @include tablet {
        width: 800px;
      }

      .week-days {
        box-sizing: border-box;
        height: 168px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
      .dayOne {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 12px;
        .item-1 {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 16.6%;
          height: 68px;
          background-color: #fff;
          padding: 16px;
          border-radius: 10px;
          margin-right: 20px;
          font-weight: 300;
          box-sizing: border-box;
          line-height: 20px;
          text-align: center;
          color: #031d44;
          @include phone {
            width: 200px;
          }
          &:last-child {
            margin-right: 0px;
          }
        }
        .item-2 {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 33.3%;
          height: 68px;
          padding: 16px;
          border-radius: 10px;
          margin-right: 20px;
          box-sizing: border-box;
          line-height: 20px;
          color: #031d44;
          background-color: #fff;
          @include phone {
            width: 416px;
          }
          &:last-child {
            margin-right: 0px;
          }
        }
        .item-3 {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 50%;
          height: 68px;
          padding: 16px;
          border-radius: 10px;
          margin-right: 20px;
          box-sizing: border-box;
          line-height: 20px;
          color: #031d44;
          background-color: #fff;
          @include phone {
            width: 416px;
          }
          &:last-child {
            margin-right: 0px;
          }
        }
        .item-4 {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 66.6%;
          height: 68px;
          padding: 16px;
          border-radius: 10px;
          margin-right: 20px;
          box-sizing: border-box;
          line-height: 20px;
          color: #031d44;
          background-color: #fff;
          @include phone {
            width: 416px;
          }
          &:last-child {
            margin-right: 0px;
          }
        }
      }
    }
  }
}

.highlights {
  background-color: rgba(255, 216, 117, 0.38) !important;
}
