@import "./../base/_base.scss";

.FaqComponent {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem auto;
  max-width: $container;
  width: 90%;
  z-index: 100;

  @include phone {
    max-width: $container-phone;
    gap: 0;
  }

  @include tablet {
    gap: 1rem;
  }

  h1 {
    color: #084887;
    font-size: 2rem;
    font-weight: 700;
    line-height: 50px;
    margin-top: 30px;

    @include phone {
      font-size: 2.125rem;
      text-align: center;
    }
  }

  &__faq-list {
    width: 800px;

    padding: 1rem 0;

    @include phone {
      width: 100%;
    }

    @include tablet {
      width: 100%;
    }

    &__item {
      &::after {
        background: #ccc;
        content: "";
        display: block;
        height: 0.5px;
        width: 100%;
      }

      h2 {
        color: #084887;
        cursor: pointer;
        display: flex;
        font-size: 1.2rem;
        font-weight: 600;
        gap: 0.5rem;
        justify-content: space-between;
        line-height: 50px;
        padding: 0.5rem 0.8rem;
        align-items: center;

        &::selection {
          background: transparent;
        }

        @include phone {
          line-height: unset;
          font-size: 1.2rem;
          padding: 0.4rem 0;
        }

        @include tablet {
          font-size: 1.3rem;
        }

        img {
          height: 1.5rem;

          &::selection {
            background: transparent;
          }
        }
      }

      ul {
        padding-top: 5px;
        padding-left: 3rem;
      }

      p {
        padding: 0 1rem;
      }

      ul,
      p {
        &::selection {
          background-color: transparent;
        }

        font-size: 0.875rem;
        height: 100%;
        margin-bottom: 1rem;
      }

      b {
        @include phone {
          font-size: 0.75rem;
        }
      }
    }
  }
}

.content-parent {
  height: 0px;
  overflow: hidden;
  transition: height ease 0.3s;
}
