@import "./../base/_base.scss";

.formComponent {
  margin-top: 40px;

  &::before {
    content: "";
    height: 2px;
    width: 65%;
    margin: auto;
    background: #ccc;
    display: block;

    @include phone {
      display: none;
    }

    @include tablet {
      display: none;
    }
  }

  @include phone {
    width: 100%;
    margin: 0 auto;
  }

  section {
    max-width: $container;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablet {
      width: $container-tablet;
      flex-direction: column-reverse;
    }
    @include phone {
      width: 100%;
      flex-direction: column;
      margin: 0;
    }
    .talkto {
      background: #3774a6;
      border-radius: 10px;
      color: $neutral-color-0;
      display: grid;
      grid-template-columns: repeat(2, calc(50% - 22.5px));
      flex-direction: row;
      gap: 45px;
      margin: 56px auto 130px;
      padding: 32px 56px;
      width: 70%;
      color: $neutral-color-0;

      &__title {
        h2 {
          font-size: 48px;
          color: $neutral-color-0;

          @include phone {
            font-size: 32px;
          }
        }

        p {
          font-size: 14px;
          line-height: 0;
        }
      }

      @include form;

      @include phone {
        max-width: $container-phone;
        grid-template-columns: 100%;
        gap: 10px;
        padding: 32px 24px;
        width: 100%;
        width: 90%;
      }

      @include tablet {
        grid-template-columns: 100%;
        width: 80%;
        gap: 20px;
      }

      aside {
        width: 100%;

        @include tablet {
          flex-direction: row;
        }

        .logo {
          width: 150px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          @include phone {
            display: none;
          }

          img {
            width: 100%;
          }
        }
      }
    }
  }
}

.formInfo {
  background-color: #3774a6;
  border-radius: 10px;

  h2 {
    font-size: $size * 5;
    color: $neutral-color-0;
  }

  button {
    right: -56px;

    @include phone {
      right: -24px;
    }
  }

  @include phone {
    padding: 0;
  }
}
