@import "./../base/_base.scss";

.heroComponent {
  max-width: $container;
  width: 90%;
  display: grid;
  grid-template-columns: calc(60% - 2rem) calc(40% - 2rem);
  margin: 0 auto;
  position: relative;
  align-items: flex-start;
  gap: 0 4rem;
  z-index: 100;
  margin-top: 82px;

  @include tablet {
    max-width: $container-tablet;
    margin-top: 90px;
    grid-template-columns: 100%;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    width: 90%;
  }
  @include phone {
    width: $container-phone;
    grid-template-columns: 100%;
    margin-top: 50px;
    gap: 1.5rem;
  }
}

.contentHero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include tablet {
    width: 100%;
    padding-right: 0;
    gap: 2rem;
  }
  @include phone {
    width: 100%;
    padding-right: 0;
  }
  h1 {
    font-weight: bold;
    color: $neutral-color-1000;
  }

  .cover-text {
    font-size: var(--cover-text);
    color: $neutral-color-1000;
    font-weight: 700;
    line-height: 70px;
    margin-top: 4px;

    @include phone {
      width: 100%;
      padding-right: 0%;
      font-size: $size * 8 !important;
      font-weight: 700 !important;
    }
  }

  p {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #031d44;
    margin: 24px 0 40px;
    width: 95%;

    @include phone {
      font-size: 18px;
      margin-bottom: 1rem;
      width: 100%;
    }

    @include tablet {
      margin: 0;
      width: 100%;
    }

    b {
      font-weight: bold;
      font-size: 14px;
      line-height: 21px;
      color: #084887;
      @include phone {
        font-size: 18px;
      }
    }
  }
}
.ilusHero {
  width: 459px;
  @include tablet {
    margin-top: 60px;
  }
  @include phone {
    width: 257px;
    margin-top: 24px;
  }
}

.presitions {
  display: grid;
  grid-template-columns: repeat(3, auto);
  background-color: #ffd875;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  gap: 9px;

  @include phone {
    gap: 0;
    width: 100%;
    box-sizing: border-box;
  }

  @include tablet {
    width: 100%;
  }

  img {
    width: 36px;
  }

  figure {
    display: flex;
    flex-direction: row;
    height: 50px;
    gap: 10px;

    @include phone {
      flex-direction: column;
      align-items: center;
      text-align: center;
      height: 100%;
    }

    &:last-child {
      margin-right: 0;
    }

    img {
      @include phone {
        height: 36px;
      }
    }

    figcaption {
      display: flex;
      flex-direction: column;

      h2 {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #af9247;
        @include phone {
          font-size: 20px;
        }
      }
      span {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 0px;
        color: #af9247;
        @include phone {
          font-weight: 300;
          font-size: 12px !important;
          line-height: 18px !important;
          color: #af9247;
        }
      }
    }
  }
}

.imgPy {
  height: 150px;
  min-width: 125px;
}

.formInfo-hero {
  background-color: #3774a6;
  border-radius: 10px;
  padding: 32px;

  @include form;

  @include phone {
    padding: 24px;
    width: 100%;
    order: 3;
  }

  button {
    cursor: pointer;
    padding: 5px;
    transition: all 0.3s ease-in-out;
    width: 100%;

    &:hover {
      box-shadow: 0 5px 15px #0000004d;
      transform: scale(1.2, 1.2);
    }

    @include phone {
      right: -24px;
      bottom: -90px;
      width: $container-phone;

      &:hover {
        transform: unset;
      }
    }

    @include tablet {
      grid-column: 3 / 5;
      margin-top: 20px;
      padding: 0;
      position: unset;

      &:hover {
        transform: unset;
      }
    }
  }

  h2 {
    color: $neutral-color-0;
    font-size: $size * 5;
    text-align: center;
    width: 100%;

    @include phone {
      font-size: $size * 4;
    }
  }

  p {
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin-bottom: 20px;
  }

  div {
    margin: 0;
  }
}

.btnDownload {
  margin-top: 70px;
  grid-column: 1 / -1;
  width: 100%;

  @include tablet {
    width: $container-tablet;
    flex-direction: column;
    margin: 0 auto;
  }
  @include phone {
    width: $container-phone;
    flex-direction: column;
    margin: 3rem 0;
  }
}

.title {
  small {
    font-size: 1rem;
    margin: 0.3125rem 0 0 6.75rem;

    @include phone {
      margin: 0;
    }
  }
}
