@import "./../base/_base.scss";

.heroComponent {
  align-items: flex-start;
  display: grid;
  gap: 0 4rem;
  grid-template-columns: calc(59% - 2rem) calc(41% - 2rem);
  margin: 3.75rem auto 0;
  max-width: $container;
  position: relative;
  width: 90%;
  z-index: 100;

  @include tablet {
    align-items: center;
    gap: 1.5rem;
    grid-template-columns: 100%;
    justify-content: center;
    margin-top: 2rem;
    max-width: $container-tablet;
    width: 90%;
  }

  @include phone {
    gap: 1.5rem;
    grid-template-columns: 100%;
    margin-top: 50px;
    max-width: $container-phone;
  }
}

.contentHero {
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  @include tablet {
    gap: 0rem;
    padding-right: 0;
    width: 100%;
  }

  @include phone {
    padding-right: 0;
    width: 100%;
  }

  h1 {
    font-weight: bold;
    color: $neutral-color-1000;
  }

  .cover-text {
    font-size: var(--cover-text);
    color: $neutral-color-1000;
    font-weight: 700;
    line-height: 70px;
    margin-top: 4px;

    @include phone {
      font-size: $size * 8 !important;
      font-weight: 700 !important;
      width: 100%;
      line-height: 3.75rem;
    }
  }

  p {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #031d44;
    margin: 1rem 0 0;
    width: 95%;

    &:last-child {
      margin-bottom: 1rem;
    }

    @include phone {
      font-size: 18px;
      margin-bottom: 1rem;
      width: 100%;
    }

    @include tablet {
      margin: 1rem 0;
      width: 100%;
    }

    b {
      font-weight: bold;
      font-size: 14px;
      line-height: 21px;
      color: #084887;
      @include phone {
        font-size: 18px;
      }
    }
  }
}
.ilusHero {
  width: 459px;
  @include tablet {
    margin-top: 60px;
  }
  @include phone {
    width: 257px;
    margin-top: 24px;
  }
}

.presitions {
  align-items: center;
  background-color: #ffd875;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
  width: 100%;

  @include phone {
    align-items: flex-start;
    display: grid;
    gap: 0.375rem;
    grid-template-columns: repeat(3, calc(33.3% - 0.25rem));
    width: 100%;
  }

  @include tablet {
    width: 100%;
  }

  img {
    width: 36px;
  }

  .item {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    height: 100%;
    max-width: 250px;

    @include phone {
      align-items: center;
      flex-direction: column;
      height: 100%;
      text-align: center;
    }

    &:last-child {
      margin-right: 0;
    }

    &:last-child {
      img {
        width: 40px;
      }
    }

    img {
      @include phone {
        height: 36px;
      }
    }

    figcaption {
      display: flex;
      flex-direction: column;
      width: 100%;

      h2,
      span {
        color: #725b20;
      }

      h2 {
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 20px;

        @include phone {
          font-size: 20px;
        }
      }
      span {
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 18px;

        @include phone {
          font-size: 12px !important;
          line-height: 18px !important;
        }
      }
    }
  }
}

.imgPy {
  height: 150px;
  min-width: 125px;

  @include phone {
    min-width: 5.5rem;
    height: 7.5rem;
  }
}

.formInfo-hero {
  background-color: #3774a6;
  border-radius: 10px;
  padding: 32px;
  height: 100%;
  position: relative;
  overflow: hidden;

  &__ribbon {
    position: absolute;
    background: #ffd875;
    width: 11rem;
    padding: 0.2rem 0;
    font-weight: 600;
    left: -3.3rem;
    top: 1.2rem;
    color: #776f74;
    font-size: 1.2rem;
    text-align: center;
    transform: rotate(-45deg);

    @include phone {
      left: -3.5rem;
      top: 1rem;
      font-size: 1rem;
    }

    @include tablet {
      left: -3rem;
      top: 1.5rem;
    }
  }

  @include form;

  @include phone {
    padding: 24px;
    width: 100%;
    order: 3;
  }

  button {
    cursor: pointer;
    grid-column: -1 / 4;
    height: 100%;
    margin-top: 0.8rem;
    max-height: 2.5rem;
    padding: 0 5px;
    transition: all 0.3s ease-in-out;
    width: 100%;
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 0 2rem;

    &:hover {
      box-shadow: 0 5px 15px #0000004d;
      transform: scale(1.05);
    }

    @include phone {
      grid-column: -6 / -1;
      margin-top: 1rem;
      padding: 0 1rem;
      font-size: 0.8125rem;

      &:hover {
        transform: unset;
      }
    }

    @include tablet {
      grid-column: -1 / -7;
      margin-top: 20px;
      padding: 0;
      position: unset;

      &:hover {
        transform: unset;
      }
    }
  }

  h2 {
    color: $neutral-color-0;
    font-size: 2.5rem;
    text-align: center;
    width: 100%;

    span {
      color: #ffd875;
      font-weight: 900;
      text-transform: uppercase;
    }

    @include phone {
      font-size: $size * 4;
    }
  }

  p {
    text-align: left;
    color: #fff;
    font-size: 14px;
    margin-bottom: 20px;
  }

  // div {
  //   margin: 0;
  // }
}

.btnDownload {
  margin-top: 70px;
  grid-column: 1 / -1;
  width: 100%;

  @include tablet {
    width: $container-tablet;
    flex-direction: column;
    margin: 0 auto;
  }
  @include phone {
    width: $container-phone;
    flex-direction: column;
    margin: 3rem 0;
  }
}

.title {
  h5 {
    @include phone {
      line-height: 1.5rem;
    }
  }

  small {
    font-size: 1rem;
    margin: -0.125rem 0 0 6.75rem;
    font-size: var(--size-3);

    @include phone {
      margin: 0;
    }
  }
}

.header-title {
  width: 100%;

  div {
    @include phone {
      &:first-child {
        align-items: center;
      }
    }
  }
}

.offer {
  grid-column: 1 / -6;
  color: #f9f7f8;
  margin-top: 0.6rem;
  opacity: 0.6;

  @include tablet {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-column: 1 / -7;
  }

  div {
    display: flex;
    position: relative;

    &::before {
      background: #fff;
      border-radius: 10px;
      bottom: -1.6rem;
      content: "";
      display: block;
      height: 5.4rem;
      left: 2.4rem;
      position: absolute;
      transform: rotate(70deg);
      width: 4px;
    }
  }

  p,
  small {
    font-weight: 300;
  }

  p {
    margin: 0;
    font-size: 0.875rem;
  }

  span {
    font-size: 2.25rem;
    font-weight: 900;
    line-height: 35px;
  }

  small {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}
