@import "../base/base";

.instructor {
  display: grid;
  gap: 1rem;
  grid-template-columns: calc(190px - 1rem) calc(100% - 190px);
  margin: 5rem auto 0;
  max-width: $container;
  width: 50%;

  @include phone {
    grid-template-columns: 100%;
    gap: 1.5rem;
    min-width: $container-phone;
  }

  @include tablet {
    width: 90%;
  }

  &__profile {
    &-image {
      border-radius: 50%;
      border: 1px solid;
      height: 150px;
      margin: auto;
      width: 150px;
      background-position: center center;
      background-size: cover;

      @include phone {
        width: 200px;
        height: 200px;
      }
    }

    &-info {
      display: grid;
      gap: 0.5rem;
      p {
        font-size: 13px;
      }

      h2 {
        @include phone {
          font-size: 24px;
          text-align: center;
        }
      }
    }
  }
}
