@import "./../base/_base.scss";

.modalityComponent {
  &::after,
  &::before {
    content: "";
    width: 100%;
    height: 2px;
    background: #cccccc;
  }

  &__list {
    margin-bottom: 70px;
  }

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 60px auto 0 auto;
  max-width: $container;
  width: 90%;
  z-index: 100;

  @include tablet {
    width: $container-tablet;
    flex-direction: column;
    margin: 3rem auto 2rem;
  }

  @include phone {
    width: $container-phone;
    flex-direction: column;
    margin-top: 3rem;
  }

  aside {
    text-align: center;
    width: 80%;

    @include phone {
      gap: 1rem;
    }

    h1 {
      color: #084887;
      font-size: 2.125rem;
      font-weight: 700;
      line-height: 70px;
      margin: 2rem 0;
    }

    &:last-child {
      display: grid;
      grid-template-columns: repeat(4, 25%);
      margin-bottom: 70px;
      width: 85%;

      @include phone {
        grid-template-columns: 100%;
        margin-bottom: 2.5rem;
        width: 100%;
      }

      @include tablet {
        grid-template-columns: repeat(2, 50%);
        margin-bottom: 3rem;
      }

      article {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include phone {
          width: 160px;
          margin: 0 auto;
        }

        img {
          margin-bottom: 16px;
          padding: 10px;
          height: 70px;
        }

        span {
          color: $primary-color;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 30px;

          @include phone {
            font-size: 20px;
          }
        }
      }
    }
  }
}
