@import "../base/base";

@keyframes ldio-he9ppiasvpj {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ldio-he9ppiasvpj div {
  animation: ldio-he9ppiasvpj 1s linear infinite;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 $primary-color;
  height: 160px;
  left: 20px;
  position: absolute;
  top: 20px;
  transform-origin: 80px 82px;
  width: 160px;
}

.loadingio-spinner-eclipse-r5qwc0ticrn {
  align-items: center;
  background: #ffffffee;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

.ldio-he9ppiasvpj {
  backface-visibility: hidden;
  height: 200px;
  position: relative;
  transform-origin: 0 0; /* see note above */
  transform: translateZ(0) scale(1);
  width: 200px;
}

.ldio-he9ppiasvpj div {
  box-sizing: content-box;
  margin-top: 20px;
}
