@import "../base/base";

.timeline {
  width: 80%;
  max-width: $container;
  margin: 5rem auto 0;

  &__title {
    text-align: center;
    width: 100%;
    font-size: 2.125rem;
    color: $primary-color;

    @include phone {
      font-weight: 700;
      line-height: 2.2rem;
    }
  }

  &__dates {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    gap: 3rem;
    align-items: center;
    justify-content: center;
  }
}
